


 <div class="container mt-5">

    <h4>Top Headlines</h4>

    <div class="row">
        <div class="col-lg-3 mt-3 mb-3" *ngFor="let d of topheadingDisplay">
  
          <div class="box">
            <img src="{{d.urlToImage}}" alt="" width="100%">
            <h5 class="mt-2 mb-2">{{d.title}}</h5>
            <!-- <p>{{d.description}}</p> -->
            <a href="{{d.url}}" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
          </div>
           

        </div>
    </div>
 </div>

 <div class="container mt-5">

  <h4>India Today</h4>

  <div class="row">
      <div class="col-lg-3 mt-3 mb-3" >

        <div class="box">
          <img src="https://th-i.thgim.com/public/incoming/8v3gyn/article65446700.ece/alternates/LANDSCAPE_1200/PTI05_20_2022_000254B.jpg" alt="" width="100%">
          <h5 class="mt-2 mb-2">Rahul Gandhi connects Congress workers in UK to Sonia Gandhi</h5>
          <!-- <p>{{d.description}}</p> -->
          <a href="" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>
         
      </div>
      <div class="col-lg-3 mt-3 mb-3" >

        <div class="box">
          <img src="https://th-i.thgim.com/public/incoming/mdphks/article66539539.ece/alternates/LANDSCAPE_1200/VIS_7870.JPG" alt="" width="100%">
          <h5 class="mt-2 mb-2">SC forms five-member expert committee to look into Hindenburg report on Adani Group, to be overseen by retired SC judge</h5>
          <!-- <p>{{d.description}}</p> -->
          <a href="" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>         
      </div>
      <div class="col-lg-3 mt-3 mb-3" >

        <div class="box">
          <img src="https://eimg.thgim.com/ccidist-ws/th/th_chennai/issues/26984/OPS/Public/GU6AUI4DI.1+GCIAUISUS.1.jpg" alt="" width="100%">
          <h5 class="mt-2 mb-2">India asks G-20 to extradite economic offenders fast</h5>
          <!-- <p>{{d.description}}</p> -->
          <a href="" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>         
      </div>
      <!--  -->
      <div class="col-lg-3 mt-3 mb-3" >

        <div class="box">
          <img src="https://th-i.thgim.com/public/incoming/e8nfs7/article66571909.ece/alternates/LANDSCAPE_960/PTI03_02_2023_000281A.jpg" alt="" width="100%">
          <h5 class="mt-2 mb-2">No joint statement at Foreign Minister’s meeting, says S. Jaishankar</h5>
          <!-- <p>{{d.description}}</p> -->
          <a href="" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>         
      </div>
      <!--  -->
       <!--  -->
       <div class="col-lg-3 mt-3 mb-3" >

        <div class="box">
          <img src="https://th-i.thgim.com/public/incoming/s4ed07/article66569652.ece/alternates/LANDSCAPE_1200/20230301162L.jpg" alt="" width="100%">
          <h5 class="mt-2 mb-2">World counting on India to play central role: Bill Gates on innovation to address climate change</h5>
          <!-- <p>{{d.description}}</p> -->
          <a href="" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
        </div>         
      </div>
      <!--  -->
  </div>
  
</div>
 