<nav>
  <div id="logo-menu">
    <div class="content">
      <ul>
        <li class="logo">
          <a href="#">
            <img src="https://static.bbci.co.uk/frameworks/barlesque/2.83.4/orb/4/img/bbc-blocks-dark.png" alt="BBC">
          </a>
        </li>
        <li class="sign-in">
          <a class="underlined" href="#">
            <img src="https://static.bbci.co.uk/id/0.27.15/img/bbcid_orb_signin_dark.png" alt="Profile">
            <span>Sign in</span>
          </a>
        </li>
        <li><a class="underlined" href="#">News</a></li>
        <li><a class="underlined" href="#">Sport</a></li>
        <li><a class="underlined" href="#">Weather</a></li>
        <li><a class="underlined" href="#">iPlayer</a></li>
        <li><a class="underlined" href="#">TV</a></li>
        <li><a class="underlined" href="#">Radio</a></li>
        <li><a class="underlined" href="#">More</a></li>
        <li class="search">
          <div class="search-container">
            <input type="text" placeholder="Search">
            <a class="search-button" href="#">
              <img src="https://static.bbci.co.uk/frameworks/barlesque/2.83.4/orb/4/img/orb-search-dark.png" alt="Search">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="red-header">
    <div id="department">
      <div class="content">
        <a href="#"><h1>News</h1></a>
        <div id="find-local">
          <a href="#">
            <p>Find local news</p>
          </a>
        </div>
      </div>
    </div>

    <div id="primary-nav">
      <div class="content">
        <ul>
          <li><a class="underlined active" href="#"><span>Home</span></a></li>
          <li><a class="underlined" href="#">India</a></li>
          <li><a class="underlined" href="#">World</a></li>
          <li><a class="underlined" href="#">Business</a></li>
          <li><a class="underlined" href="#">Tech</a></li>
          <li><a class="underlined" href="#">Science</a></li>
          <li><a class="underlined" href="#">Health</a></li>
          <li><a class="underlined" href="#">Education</a></li>
          <li><a class="underlined" href="#">Entertainment &amp; Arts</a></li>
          <li><a class="underlined" href="#">Video &amp; Audio</a></li>
          <li><a class="underlined" href="#">More</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="sub-nav">
    <div class="content">
      <ul>
        <li><a class="underlined" href="#">England</a></li>
        <li><a class="underlined" href="#">India</a></li>
        <li><a class="underlined" href="#">Russia</a></li>
        <li><a class="underlined" href="#">Qatar</a></li>
        <li><a class="underlined" href="#">UAE</a></li>
        <li><a class="underlined" href="#">KSA</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="content">
    <div class="main-content">
      <article class="full-width">
        <a href="#">
          <marquee width="100%" direction="left">
            <span>Rahul Gandhi connects Congress workers in UK to Sonia Gandhi</span>
            <span>Rahul Gandhi in new look ahead of Cambridge University lecture</span>
            <span>Ukraine says 'survived the most difficult winter' in history</span>
            <span>Ukraine military may pull out troops from Bakhmut</span>
            <span>Morning Digest | India makes renewed push for consensus at G20 Foreign Ministers meeting; China says ‘lab leak’ claims hurt U.S. credibility, and more</span>


           </marquee>
          <h1>Headline</h1>

          <h3 mt-3>Again again and again MESSI!.</h3>
          <p>The Best FIFA Men's Player of the year .Argentina and Paris St-Germain forward Lionel Messi has been named men's player of the year at the 2022 Best Fifa Awards.</p>

          <img class="article-image" src="https://www.chinadailyhk.com/attachments/image/32/197/30/716663_389427/716663_389427_800_auto_jpg.jpg" alt="Article image" style="    width: 100%;">
          <p>He thanks his teammates at Argentina and his family. Infantino is on hand and confirms that Lionel Messi is the Best FIFA Men's Player 2022.Messi overwhelmingly topped the voting, having inspired Argentina to World Cup glory at Qatar 2022. The likes of England head coach Gareth Southgate, Germany's Hansi Flick and Morocco boss Walid Regragui all selected Messi as The Best FIFA Men's Player.</p>
          <p>FIFA BEST PLAYER OF THE YEAR.</p>
        </a>
        <p class="post-data">Time posted<a class="country" href="#">Qatar</a></p>
        <ul class="related-links">
          <li><a href="#"><div class="icon video"></div>AVENU</a></li>
          <li><a href="#"><div class="icon video"></div>KAKA' </a></li>
          <li><a href="#">LUCIOS TECXAST</a></li>
          <li><a href="#">Niclas </a></li>
        </ul>
      </article>
    </div><!--
    --><div class="sidebar">
      <h2>Watch/Listen</h2>
      <article>
        <a href="https://www.youtube.com/watch?v=4G10AP2P29w" target="_blank">
          <div class="image">
            <img src="https://storage.googleapis.com/afs-prod/media/74b806be6c864939a551ab69f9233e90/3000.jpeg" alt="Article image" style="width:100%">
            <div class="time">4:52</div>
          </div>
          <h3>The World cup winners</h3>
          <p class="post-data">03-03-2023</p>
        </a>
      </article>
      <article>
        <a href="#">
          <div class="image">
            <img src="https://imageio.forbes.com/specials-images/imageserve/634bfbea94ab28271ead84dd/0x0.jpg?format=jpg&crop=2620,1750,x115,y0,safe&width=1200" alt="Article image"style="width:100%">
            <div class="time">1:19</div>
          </div>
          <h3><span class="tag sport">Tag</span>Deserved but! Kerim benzema THE LEGEND</h3>
          <p class="post-data">03-03-2023</p>
        </a>
      </article>
      <article>
        <a href="#">
          <div class="image">
            <img src="https://i.insider.com/6329a1fe4f9291001883cafe?width=700" alt="Article image" style="width:100%">
            <div class="time">4:36</div>
          </div>
          <h3>GOAT</h3>
          <p class="post-data">03-03-2023</p>
        </a>
      </article>
    </div>
  </div>
</main>

  <router-outlet></router-outlet>

  <!-- articles -->
  <div class="blog">
    <div class="blog-part is-menu">
     <a href="#" class="blog-menu">
      Work
      <svg fill="none" stroke="currentColor" stroke-width=".7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right" viewBox="0 0 24 24">
       <path d="M7 17L17 7M7 7h10v10" />
      </svg>
     </a>
     <a href="#" class="blog-menu">Studio</a>
     <a href="#" class="blog-menu">Blog</a>
     <a href="#" class="blog-menu">Contact</a>
     <a href="#" class="blog-menu mention">@MagazineDope</a>
     <a href="#" class="blog-menu subscribe">Subscribe</a>
    </div>
    <div class="blog-header blog-is-sticky">
     <div class="blog-article header-article">
      <div class="blog-big__title">Self</div>
      <div class="blog-menu rounded small-title">Pinned Issue</div>
     </div>
     <div class="blog-article page-number">
      NO. 01
     </div>
    </div>
    <div class="blog-header-container">
     <div class="blog-header">
      <div class="blog-article header-article">
       <div class="blog-big__title">Esteem</div>
       <div class="blog-menu small-title date">12.06.2021</div>
      </div>
      <div class="blog-article">
       <img src="https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
       <h2>Sharing The <span>Widespread</span> Acclaim About Motivation</h2>
       <div class="blog-detail">
        <span>By Richard Carnation</span>
        <span>5 Min Read</span>
       </div>
       <p>Blonde received widespread acclaim, with critics praising Ocean's introspective lyrics and the album's unconventional</p>
       <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">
         <path d="M15 10l5 5-5 5" />
         <path d="M4 4v7a4 4 0 004 4h12" />
        </svg>
        See More
       </a>
      </div>
     </div>
     <div class="blog-header">
      <div class="blog-article header-article">
       <div class="blog-big__title">Love</div>
       <div class="blog-menu small-title date">12.06.2021</div>
      </div>
      <div class="blog-article">
       <img src="https://images.unsplash.com/photo-1529255484355-cb73c33c04bb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
       <h2>Talking About <span>Vulnerability</span> During Quarantine</h2>
       <div class="blog-detail">
        <span>By Tom Hiddleston</span>
        <span>5 Min Read</span>
       </div>
       <p>Having traveled to Turkey multiple times, with critics praising Ocean's introspective lyrics and the album's unconventional</p>
       <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">
         <path d="M15 10l5 5-5 5" />
         <path d="M4 4v7a4 4 0 004 4h12" />
        </svg>
        See More
       </a>
      </div>
     </div>
     <div class="blog-header">
      <div class="blog-article header-article">
       <div class="blog-big__title">Control</div>
       <div class="blog-menu small-title date">12.06.2021</div>
      </div>
      <div class="blog-article">
       <img src="https://images.unsplash.com/photo-1616248249518-b16013cd4e42?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxibGFjayUyMGFuZCUyMHdoaXRlfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
       <h2>How 2020 Changed <span>Understanding</span> Of Mental Health</h2>
       <div class="blog-detail">
        <span>By Scarlett Witch</span>
        <span>5 Min Read</span>
       </div>
       <p>Time is defines ad the indefinete continued progress, with critics praising Ocean's introspective lyrics and the album's</p>
       <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">
         <path d="M15 10l5 5-5 5" />
         <path d="M4 4v7a4 4 0 004 4h12" />
        </svg>
        See More
       </a>
      </div>
     </div>
    </div>
    <div class="blog-part right-blog">
     <marquee width="100%" direction="left">
      <span>Now And Then You Miss It Sounds Make You Cry</span>
      <span>Now In - MoMa Sharing Exhibition NOW</span>
      <span>NYC Opens After Long Lockdown Check</span>
     </marquee>
     <div class="blog-right-title-container">
      <div class="blog-right-title">
       Featured Articles
      </div>
      <div class="blog-menu rounded">See All</div>
     </div>
     <div class="blog-right">
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">1</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">Blonde - Widespread Acclaim</div>
       <div class="blog-right-page-subtitle">Blonde received widespread acclaim, with critics praising Ocean's introspective lyrics and the album's</div>
      </div>
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">2</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">Introspective Lyrics and Beats</div>
       <div class="blog-right-page-subtitle">When we toured Scotland we stopped at several selft-sealing hpuses because hotels would</div>
      </div>
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">3</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">The Language Of Gris: Comples Beauty Of Monochrome</div>
       <div class="blog-right-page-subtitle">The interior concept was conceived of by Dutch archtitect Studio Anne Holtrop who cleverly emulated</div>
      </div>
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">4</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">A24 IS LAUNCHING ITS OWN BEAUTY BRAND</div>
       <div class="blog-right-page-subtitle">Blonde received widespread acclaim, with critics praising Ocean's introspective lyrics and the album's</div>
      </div>
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">5</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">Elon Musk's SpaceX is launching a moon satellite</div>
       <div class="blog-right-page-subtitle">The interior concept was conceived of by Dutch archtitect Studio Anne Holtrop who cleverly emulated</div>
      </div>
      <div class="blog-right-container">
       <div class="blog-title-date">
        <div class="blog-right-page">6</div>
        <div class="date">12.06.2021</div>
       </div>
       <div class="blog-right-page-title">What Happens When You Leave Your Old life Behind</div>
       <div class="blog-right-page-subtitle">The interior concept was conceived of by Dutch archtitect Studio Anne Holtrop who cleverly emulated</div>
      </div>
      <div class="circle">
       <div class="circle-title">Leave Your Old Life Behind</div>
       <div class="circle-subtitle">Don't try to be like someone else, be yourself. Be secure with yourself.</div>
       <div class="circle-footer">Explore</div>
      </div>
     </div>
    </div>
   </div>

  <!--  -->

  <hr>

  <footer class="mt-3">
    <p class="text-center">&copy; 2023 BBC-NEWS</p>
    <p class="text-center" style="background-color: rgb(232, 43, 43);">&reg;CREATED&DEVELOPED: <a href="https://ajmalameen.github.io/ajml/" target="_blank">AJMAL</a></p>
  </footer>


